<!-- =========================
     NASLOV STRANI
========================= -->
<h2>Social platform</h2>


<!-- Logout -->
<a href="/logout">Logout</a>

<hr>


<!-- =========================
     NOVA OBJAVA
========================= -->
<h3>Nova objava</h3>

<form id="postForm" enctype="multipart/form-data">

    <!-- Besedilo objave -->
    Besedilo
    <br>

    <textarea name="text"></textarea>

    <br><br>

    <!-- Slika -->
    Slika
    <br>

    <input type="file" name="image">

    <br><br>

    <!-- Gumb -->
    <button type="submit">
        Objavi
    </button>

</form>

<hr>


<!-- =========================
     OBJAVE
========================= -->
<h3>Objave</h3>

<div id="posts">

    <!-- Flask loop -->
    {% for post in posts %}

    <div id="post{{post.doc_id}}">

        <!-- Username -->
        <p>
            <b>{{post.user}}</b>
        </p>

        <!-- Text -->
        <p>{{post.text}}</p>


        <!-- Če obstaja slika -->
        {% if post.image %}

        <img
            src="/static2/uploads/{{post.image}}"
            width="200"
        >

        {% endif %}


        <!-- Likes -->
        <p>

            Likes:

            <span id="likes{{post.doc_id}}">
                {{post.likes}}
            </span>

        </p>


        <!-- Like button -->
        <button onclick="likePost({{post.doc_id}})">
            Like
        </button>


        <!-- Delete button -->
        <button onclick="deletePost({{post.doc_id}})">
            Delete
        </button>

        <hr>

    </div>

    {% endfor %}

</div>



<!-- =========================
     JQUERY
========================= -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



<!-- =========================
     JAVASCRIPT
========================= -->
<script>


// =========================
// DODAJANJE OBJAVE
// =========================
$("#postForm").submit(function(e){

    // Prepreči reload strani
    e.preventDefault()

    // Dobimo podatke iz forme
    var formData = new FormData(this)

    // AJAX request
    $.ajax({

        url: "/add_post",

        method: "POST",

        data: formData,

        // Potrebno za file upload
        processData: false,
        contentType: false,

        // Če uspe
        success: function(){

            // Reload strani
            location.reload()
        }

    })

})



// =========================
// BRISANJE OBJAVE
// =========================
function deletePost(id){

    $.ajax({

        url: "/delete_post",

        method: "POST",

        // Pošljemo ID
        data: {
            id: id
        },

        // Če uspe
        success: function(){

            // Izbrišemo HTML element
            $("#post" + id).remove()
        }

    })

}



// =========================
// LIKE OBJAVE
// =========================
function likePost(id){

    $.ajax({

        url: "/like_post",

        method: "POST",

        // Pošljemo ID
        data: {
            id: id
        },

        // Če uspe
        success: function(data){

            // Update likes
            $("#likes" + id).text(data.likes)
        }

    })

}

</script>